:root{
	--body-margin: 2vw;
	--body-outside: 2vw;
	--body-between: 1vw;
	--body-border: 0.35vmin;
	--body-padding: 1vw;

	--nav-width: 14vw;
	--main-width: 76.5vw;
}

#body{
	margin-left: -8px;
	margin-top: var(--body-margin);
	width: calc(100% + 8px);

	font-family: "Fira Mono", monospace;
	font-style: normal;

	background-size: 211px;
	background-repeat: repeat;
	background-position: 0 0;
}
@keyframes body{
	0%{ background-position: 0 0; }
	100%{ background-position: 211px -206px; }
}
#body.on{ animation: body 2s infinite linear; }
#body.off{ animation: 0; }
#body.light{
	background-image: url(local/background_light.png);
	background-color: #e1e1eb;
}
#body.dark{
	background-image: url(local/background_dark.png);
	background-color: #464650;
}

#navA{
	margin-left: var(--body-outside);
	width: var(--nav-width);
	height: var(--nav-width);
	padding: var(--body-padding);

	position: fixed;
	float: left;
	display: flex;

	border: var(--body-border) dashed;
}
#navA.light{
	border-color: #32323c;
	background-color: #ffffff;
}
#navA.dark{
	border-color: #ffffff;
	background-color: #32323c;
}

#logo{
	width: 100%;
	height: 100%;

	background-image: url(local/icon_red.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
#logo:hover{ background-size: 90%; }

@keyframes logo{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
@keyframes logo-red-green{
	0%{ background-image: url(local/icon_red.png); }
	100%{ background-image: url(local/icon_green.png); }
}
@keyframes logo-green-blue{
	0%{ background-image: url(local/icon_green.png); }
	100%{ background-image: url(local/icon_blue.png); }
}
@keyframes logo-blue-red{
	0%{ background-image: url(local/icon_blue.png); }
	100%{ background-image: url(local/icon_red.png); }
}

#logo.red-green-on{
	animation: logo 10s infinite linear,
		logo-red-green 0s forwards;
}
#logo.green-blue-on{
	animation: logo 10s infinite linear,
		logo-green-blue 0s forwards;
}
#logo.blue-red-on{
	animation: logo 10s infinite linear,
		logo-blue-red 0s forwards;
}
#logo.red-green-off{ animation: logo-red-green 0s forwards; }
#logo.green-blue-off{ animation: logo-green-blue 0s forwards; }
#logo.blue-red-off{ animation: logo-blue-red 0s forwards; }

#navB{
	margin-left: var(--body-outside);
	margin-top:
		calc(var(--nav-width) + var(--body-padding) * 2 + var(--body-between));
	width: var(--nav-width);
	height:
		calc(100vh - var(--nav-width) - var(--body-outside) * 2 -
		var(--body-padding) * 4 - var(--body-between) - var(--body-border) * 2);
	padding: var(--body-padding);

	position: fixed;
	float: left;

	overflow-x: hidden;
	overflow-y: auto;

	white-space: nowrap;
	text-overflow: ellipsis;

	border: var(--body-border) dashed;
}
#navB.light{
	border-color: #32323c;
	color: #32323c;
	background-color: #ffffff;
}
#navB.dark{
	border-color: #ffffff;
	color: #ffffff;
	background-color: #32323c;
}

#navB>a, #navB>button, #navB>details>summary{ font-size: 2.25vmin; }
#navB>details>a{ font-size: 1.75vmin; }
#navB>b{ font-size: 2.75vmin; }

#navB>a:hover, #navB>details>a:hover, #navB>button:hover,
	#navB>details>summary:hover{ text-decoration: underline; }

#navB>a, #navB>details>a{
	text-decoration: none;

	color: #7d7dff;
}

#navB>button{
	padding: 0;

	border: 0;
	background: 0;
}
#animationsSetting.light, #themeSetting.light,
	#languageSetting.light{ color: #32323c; }
#animationsSetting.dark, #themeSetting.dark,
	#languageSetting.dark{ color: #ffffff; }

#main{
	margin-right: var(--body-outside);
	margin-bottom: var(--body-margin);
	width: var(--main-width);
	padding: var(--body-padding);

	float: right;

	overflow-wrap: break-word;
	hyphens: auto;

	border: var(--body-border) dashed;
}
#main.light{
	border-color: #32323c;
	color: #32323c;
	background-color: #ffffff;
}
#main.dark{
	border-color: #ffffff;
	color: #ffffff;
	background-color: #32323c;
}

#main>h1{ text-align: center; }
#main>h1{ font-size: 5vmin; }
#main>h2{ font-size: 3vmin; }
#main>p{ font-size: 2.5vmin; }

pre{
	width: max-content;
	max-width: calc(100% - 2vw);
	padding: var(--body-padding);

	overflow-x: auto;
    overflow-y: auto;

	font-size: 18pt;

	background-color: #7d7d91;
	color: #ffffff;
}

span{
	height: 0.25vh;

	display: block;
}